@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&subset=latin-ext');
$font-family: 'Raleway', sans-serif;

@import "reset";
@import "body";

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

*[data-ember-action] {
  cursor: pointer;
}

.ui-application {
  @import "app/form";
  a {
    color: #000;
  }
  > .header {
    padding: 25px 25px 0 25px;
    > .title {
      font-weight: 600;
    }
    > .links {
      font-size: 13px;
      padding-top: 5px;
      a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        &.active {
          font-weight: 600;
        }
      }
    }
  }
  > .content {
    padding: 25px;
  }
  > .identity {
    margin-top: 50px;
    background: fade-out(#000, 0.994);
    border-top: 1px solid fade-out(#000, 0.9);
    border-bottom: 1px solid fade-out(#000, 0.9);
    padding: 25px 25px;
  }
}

.row {
  margin-bottom: 10px;
  &.placeholder {
    color: #bbb;
  }
  > .heading {
    font-weight: 600;
    line-height: 17px;
  }
}

.ui-block-json {
  font-family: 'Monaco';
  font-size: 12px;
  line-height: 14px;
  white-space: pre-wrap;
  &.tiny {
    font-size: 10px;
    line-height: 13px;
  }
}

.ui-block-identity {
  > .model {
    padding-bottom: 5px;
    font-size: 13px;
    > .info {
      font-weight: 600;
      line-height: 13px * 1.3;
      > .type {
        font-weight: 400;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }
    > .storage {
      font-size: 12px;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  > .placeholder {
    color: #888;
    font-weight: 600;
  }
}

.ui-block-div {
  &.has-action {
    cursor: pointer;
  }
}

.ui-block-master-detail {
  display: flex;
  flex-direction: row;
  > .master {
    width: 250px;
    padding: 0 25px 0 0;
    border-right: 1px solid #eee;
  }
  > .detail {
    flex: 1;
    padding: 0 25px;
  }
}

.ui-block-rows {
  margin: 0 -25px;
  > .row {
    padding: 10px 25px;
    margin: 0;
    border-bottom: 1px solid #eee;
    &:first-child {
      border-top: 1px solid #eee;
    }
    > .title {
      line-height: 16px;
    }
    > .subtitle {
      font-size: 11px;
    }
  }
}
